*/LessonPlan.md
*/Time*.xlsx
*/*.pptx
Ins_Overview.md

# StudentGuide.md

# 1
# 1/Activities
# 1/Activities/01-Ins_BasicLineGraphs
# 1/Activities/01-Ins_BasicLineGraphs/Solved
# 1/Activities/01-Ins_BasicLineGraphs/Unsolved
# 1/Activities/02-Stu_NJTemp-LinePlots
# 1/Activities/02-Stu_NJTemp-LinePlots/Unsolved
# 1/Activities/03-Ins_ConfiguringLinePlots
# 1/Activities/03-Ins_ConfiguringLinePlots/Images
# 1/Activities/03-Ins_ConfiguringLinePlots/Solved
# 1/Activities/03-Ins_ConfiguringLinePlots/Unsolved
# 1/Activities/04-Stu_LegendaryTemperature
# 1/Activities/04-Stu_LegendaryTemperature/Images
# 1/Activities/04-Stu_LegendaryTemperature/Unsolved
# 1/Activities/05-Ins_Aesthetics
# 1/Activities/05-Ins_Aesthetics/Images
# 1/Activities/05-Ins_Aesthetics/Solved
# 1/Activities/05-Ins_Aesthetics/Unsolved
# 1/Activities/06-Stu_RollerCoaster-StylingLinePlots
# 1/Activities/06-Stu_RollerCoaster-StylingLinePlots/Images
# 1/Activities/06-Stu_RollerCoaster-StylingLinePlots/Unsolved
# 1/Activities/07-Ins_BarCharts
# 1/Activities/07-Ins_BarCharts/Solved
# 1/Activities/07-Ins_BarCharts/Unsolved
# 1/Activities/08-Stu_PyBars
# 1/Activities/08-Stu_PyBars/Images
# 1/Activities/08-Stu_PyBars/Unsolved
# 1/Activities/09-Ins_PieCharts
# 1/Activities/09-Ins_PieCharts/Solved
# 1/Activities/09-Ins_PieCharts/Unsolved
# 1/Activities/10-Stu_PyPies
# 1/Activities/10-Stu_PyPies/Images
# 1/Activities/10-Stu_PyPies/Unsolved
# 1/Activities/11-Ins_ScatterPlots
# 1/Activities/11-Ins_ScatterPlots/Solved
# 1/Activities/11-Ins_ScatterPlots/Unsolved
# 1/Activities/12-Stu_ScatterPy
# 1/Activities/12-Stu_ScatterPy/Images
# 1/Activities/12-Stu_ScatterPy/Unsolved
# 1/Activities/13-Stu_AvgRain-BarChartsWithPandas
# 1/Activities/13-Stu_AvgRain-BarChartsWithPandas/Images
# 1/Activities/13-Stu_AvgRain-BarChartsWithPandas/Resources
# 1/Activities/13-Stu_AvgRain-BarChartsWithPandas/Unsolved
# 1/Images

# 1/Activities/02-Stu_NJTemp-LinePlots/Solved
# 1/Activities/04-Stu_LegendaryTemperature/Solved
# 1/Activities/06-Stu_RollerCoaster-StylingLinePlots/Solved
# 1/Activities/08-Stu_PyBars/Solved
# 1/Activities/10-Stu_PyPies/Solved
# 1/Activities/12-Stu_ScatterPy/Solved
# 1/Activities/13-Stu_AvgRain-BarChartsWithPandas/Solved

# 2
# 2/Activities
# 2/Activities/01-Stu_PlotsReview
# 2/Activities/01-Stu_PlotsReview/Unsolved
# 2/Activities/02-Ins_PandasPlot
# 2/Activities/02-Ins_PandasPlot/Images
# 2/Activities/02-Ins_PandasPlot/Resources
# 2/Activities/02-Ins_PandasPlot/Solved
# 2/Activities/02-Ins_PandasPlot/Unsolved
# 2/Activities/03-Stu_BattlingKings-PlottingPandas
# 2/Activities/03-Stu_BattlingKings-PlottingPandas/Unsolved
# 2/Activities/03-Stu_BattlingKings-PlottingPandas/Unsolved/Resources
# 2/Activities/04-Ins_GroupPlots
# 2/Activities/04-Ins_GroupPlots/Resources
# 2/Activities/04-Ins_GroupPlots/Solved
# 2/Activities/04-Ins_GroupPlots/Unsolved
# 2/Activities/05-Stu_BikeTrippin-Groupby
# 2/Activities/05-Stu_BikeTrippin-Groupby/Resources
# 2/Activities/05-Stu_BikeTrippin-Groupby/Unsolved
# 2/Activities/06-Stu_MilesPerGallon-ScatterPlot
# 2/Activities/06-Stu_MilesPerGallon-ScatterPlot/Resources
# 2/Activities/06-Stu_MilesPerGallon-ScatterPlot/Unsolved
# 2/Activities/07-Ins_PandasMultiLine
# 2/Activities/07-Ins_PandasMultiLine/Resources
# 2/Activities/07-Ins_PandasMultiLine/Solved
# 2/Activities/07-Ins_PandasMultiLine/Unsolved
# 2/Activities/08-Stu_WinnerWrestling-Part1
# 2/Activities/08-Stu_WinnerWrestling-Part1/Resources
# 2/Activities/08-Stu_WinnerWrestling-Part1/Unsolved
# 2/Activities/09-Stu_WinnerWrestling-Part2
# 2/Activities/09-Stu_WinnerWrestling-Part2/Resources
# 2/Activities/09-Stu_WinnerWrestling-Part2/Unsolved
# 2/Activities/10-Stu_WinnerWrestling-Part3
# 2/Activities/10-Stu_WinnerWrestling-Part3/Resources
# 2/Activities/10-Stu_WinnerWrestling-Part3/Unsolved
# 2/Images

# 2/Activities/01-Stu_PlotsReview/Solved
# 2/Activities/03-Stu_BattlingKings-PlottingPandas/Solved
# 2/Activities/03-Stu_BattlingKings-PlottingPandas/Solved/Resources
# 2/Activities/05-Stu_BikeTrippin-Groupby/Solved
# 2/Activities/06-Stu_MilesPerGallon-ScatterPlot/Solved
# 2/Activities/08-Stu_WinnerWrestling-Part1/Solved
# 2/Activities/08-Stu_WinnerWrestling-Part1/Solved
# 2/Activities/09-Stu_WinnerWrestling-Part2/Solved
# 2/Activities/09-Stu_WinnerWrestling-Part2/Solved
# 2/Activities/10-Stu_WinnerWrestling-Part3/Solved
# 2/Activities/10-Stu_WinnerWrestling-Part3/Solved

# 3
# 3/Activities
# 3/Activities/01-Ins_Summary_Statistics
# 3/Activities/01-Ins_Summary_Statistics/Resources
# 3/Activities/01-Ins_Summary_Statistics/Solved
# 3/Activities/01-Ins_Summary_Statistics/Unsolved
# 3/Activities/02-Ins_Quartiles_and_Outliers
# 3/Activities/02-Ins_Quartiles_and_Outliers/Resources
# 3/Activities/02-Ins_Quartiles_and_Outliers/Solved
# 3/Activities/03-Stu_Summary_Stats_Python
# 3/Activities/03-Stu_Summary_Stats_Python/Resources
# 3/Activities/03-Stu_Summary_Stats_Python/Unsolved
# 3/Activities/04-Ins_Standard_Error
# 3/Activities/04-Ins_Standard_Error/Resources
# 3/Activities/04-Ins_Standard_Error/Solved
# 3/Activities/04-Ins_Standard_Error/Unsolved
# 3/Activities/05-Par_Standard_Error
# 3/Activities/05-Par_Standard_Error/Unsolved
# 3/Activities/06-Ins_Correlation_Conundrum
# 3/Activities/06-Ins_Correlation_Conundrum/Resources
# 3/Activities/06-Ins_Correlation_Conundrum/Solved
# 3/Activities/07-Stu_Correlation_Conquerors
# 3/Activities/07-Stu_Correlation_Conquerors/Images
# 3/Activities/07-Stu_Correlation_Conquerors/Unsolved
# 3/Activities/08-Ins_Fits_and_Regression
# 3/Activities/08-Ins_Fits_and_Regression/Solved
# 3/Activities/08-Ins_Fits_and_Regression/Unsolved
# 3/Activities/09-Stu_Fits_and_Regression
# 3/Activities/09-Stu_Fits_and_Regression/Resources
# 3/Activities/09-Stu_Fits_and_Regression/Unsolved
# 3/Images

# 3/Activities/03-Stu_Summary_Stats_Python/Solved
# 3/Activities/05-Par_Standard_Error/Solved
# 3/Activities/07-Stu_Correlation_Conquerors/Solved
# 3/Activities/09-Stu_Fits_and_Regression/Solved

# 3/Supplemental
# VideoGuide.md



