*/LessonPlan.md
*/Time*.xlsx
*/*.pptx
Ins_Overview.md

# 1
# 1/Activities
# 1/Activities/01-Ins_JupyterIntro
# 1/Activities/01-Ins_JupyterIntro/Solved
# 1/Activities/01-Ins_JupyterIntro/Unsolved
# 1/Activities/02-Stu_NetflixRemix-Jupyter
# 1/Activities/02-Stu_NetflixRemix-Jupyter/Unsolved
# 1/Activities/02-Stu_NetflixRemix-Jupyter/Unsolved/Resources
# 1/Activities/03-Ins_IntroToPandas
# 1/Activities/03-Ins_IntroToPandas/Solved
# 1/Activities/03-Ins_IntroToPandas/Unsolved
# 1/Activities/04-Stu_DataFrameShop-Pandas
# 1/Activities/04-Stu_DataFrameShop-Pandas/Unsolved
# 1/Activities/05-Ins_DataFunctions
# 1/Activities/05-Ins_DataFunctions/Solved
# 1/Activities/05-Ins_DataFunctions/Solved/Resources
# 1/Activities/05-Ins_DataFunctions/Unsolved
# 1/Activities/06-Stu_TrainingGrounds-DataFunctions
# 1/Activities/06-Stu_TrainingGrounds-DataFunctions/Unsolved
# 1/Activities/07-Ins_ColumnManipulation
# 1/Activities/07-Ins_ColumnManipulation/Solved
# 1/Activities/07-Ins_ColumnManipulation/Unsolved
# 1/Activities/08-Stu_Hey_Arnold-DataFrame-Formatting
# 1/Activities/08-Stu_Hey_Arnold-DataFrame-Formatting/Unsolved
# 1/Activities/09-Ins_ReadingWritingCSV
# 1/Activities/09-Ins_ReadingWritingCSV/Solved
# 1/Activities/09-Ins_ReadingWritingCSV/Solved/Output
# 1/Activities/09-Ins_ReadingWritingCSV/Solved/Resources
# 1/Activities/09-Ins_ReadingWritingCSV/Unsolved
# 1/Activities/10-Stu_GoodReadsCSV
# 1/Activities/10-Stu_GoodReadsCSV/Unsolved
# 1/Activities/10-Stu_GoodReadsCSV/Unsolved/Output
# 1/Activities/10-Stu_GoodReadsCSV/Unsolved/Resources
# 1/Activities/11-Stu_GoodReadsSummary
# 1/Activities/11-Stu_GoodReadsSummary/Unsolved
# 1/Activities/11-Stu_GoodReadsSummary/Unsolved/Resources
# 1/Images

# 1/Activities/02-Stu_NetflixRemix-Jupyter/Solved
# 1/Activities/02-Stu_NetflixRemix-Jupyter/Solved/Resources
# 1/Activities/04-Stu_DataFrameShop-Pandas/Solved
# 1/Activities/06-Stu_TrainingGrounds-DataFunctions/Solved
# 1/Activities/08-Stu_Hey_Arnold-DataFrame-Formatting/Solved
# 1/Activities/08-Stu_Hey_Arnold-DataFrame-Formatting/Solved/Output
# 1/Activities/10-Stu_GoodReadsCSV/Solved
# 1/Activities/10-Stu_GoodReadsCSV/Solved/Output
# 1/Activities/10-Stu_GoodReadsCSV/Solved/Resources
# 1/Activities/11-Stu_GoodReadsSummary/Solved

# 2
# 2/Activities
# 2/Activities/01-Ins_LocAndIloc
# 2/Activities/01-Ins_LocAndIloc/Solved
# 2/Activities/01-Ins_LocAndIloc/Solved/Resources
# 2/Activities/01-Ins_LocAndIloc/Unsolved
# 2/Activities/02-Stu_GoodMovies-Loc
# 2/Activities/02-Stu_GoodMovies-Loc/Unsolved
# 2/Activities/02-Stu_GoodMovies-Loc/Unsolved/Resources
# 2/Activities/02-Stu_GoodMovies-Loc/Unsolved/output
# 2/Activities/03-Ins_CleaningData
# 2/Activities/03-Ins_CleaningData/Solved
# 2/Activities/03-Ins_CleaningData/Solved/Resources
# 2/Activities/03-Ins_CleaningData/Unsolved
# 2/Activities/04-Par_PortlandCrime-Cleaning
# 2/Activities/04-Par_PortlandCrime-Cleaning/Unsolved
# 2/Activities/04-Par_PortlandCrime-Cleaning/Unsolved/Resources
# 2/Activities/05-Evr_PandasRecap
# 2/Activities/05-Evr_PandasRecap/Solved
# 2/Activities/05-Evr_PandasRecap/Solved/Resources
# 2/Activities/05-Evr_PandasRecap/Unsolved
# 2/Activities/05-Evr_PandasRecap/Unsolved/Resources
# 2/Activities/06-Ins_GroupBy
# 2/Activities/06-Ins_GroupBy/Solved
# 2/Activities/06-Ins_GroupBy/Solved/Resources
# 2/Activities/06-Ins_GroupBy/Unsolved
# 2/Activities/07-Par_Pokedex-GroupBy
# 2/Activities/07-Par_Pokedex-GroupBy/Unsolved
# 2/Activities/07-Par_Pokedex-GroupBy/Unsolved/Resources
# 2/Activities/08-Ins_Sorting
# 2/Activities/08-Ins_Sorting/Solved
# 2/Activities/08-Ins_Sorting/Solved/Resources
# 2/Activities/08-Ins_Sorting/Unsolved
# 2/Activities/09-Stu_SearchForTheWorst
# 2/Activities/09-Stu_SearchForTheWorst/Unsolved
# 2/Activities/09-Stu_SearchForTheWorst/Unsolved/Resources
# 2/Images

# 2/Activities/02-Stu_GoodMovies-Loc/Solved
# 2/Activities/02-Stu_GoodMovies-Loc/Solved/Resources
# 2/Activities/02-Stu_GoodMovies-Loc/Solved/output
# 2/Activities/04-Par_PortlandCrime-Cleaning/Solved
# 2/Activities/04-Par_PortlandCrime-Cleaning/Solved/Resources
# 2/Activities/07-Par_Pokedex-GroupBy/Solved
# 2/Activities/07-Par_Pokedex-GroupBy/Solved/Resources
# 2/Activities/07-Par_Pokedex-GroupBy/Solved/output
# 2/Activities/09-Stu_SearchForTheWorst/Solved
# 2/Activities/09-Stu_SearchForTheWorst/Solved/Resources

# 3
# 3/Activities
# 3/Activities/01-Ins_Merging
# 3/Activities/01-Ins_Merging/Solved
# 3/Activities/01-Ins_Merging/Unsolved
# 3/Activities/02-Stu_Cryptocurrency-Merging
# 3/Activities/02-Stu_Cryptocurrency-Merging/Unsolved
# 3/Activities/02-Stu_Cryptocurrency-Merging/Unsolved/Resources
# 3/Activities/03-Ins_Binning
# 3/Activities/03-Ins_Binning/Solved
# 3/Activities/03-Ins_Binning/Unsolved
# 3/Activities/04-Stu_TedTalks-Binning
# 3/Activities/04-Stu_TedTalks-Binning/Unsolved
# 3/Activities/04-Stu_TedTalks-Binning/Unsolved/Resources
# 3/Activities/05-Ins_Mapping
# 3/Activities/05-Ins_Mapping/Solved
# 3/Activities/05-Ins_Mapping/Solved/Resources
# 3/Activities/05-Ins_Mapping/Unsolved
# 3/Activities/06-Stu_CleaningKickstarter
# 3/Activities/06-Stu_CleaningKickstarter/Unsolved
# 3/Activities/06-Stu_CleaningKickstarter/Unsolved/Resources
# 3/Activities/07-Ins_IntroToBugfixing
# 3/Activities/07-Ins_IntroToBugfixing/Solved
# 3/Activities/07-Ins_IntroToBugfixing/Solved/Resources
# 3/Activities/07-Ins_IntroToBugfixing/Unsolved
# 3/Activities/07-Ins_IntroToBugfixing/Unsolved/Resources
# 3/Activities/08-Stu_BugfixingBonanza
# 3/Activities/08-Stu_BugfixingBonanza/Unsolved
# 3/Activities/08-Stu_BugfixingBonanza/Unsolved/Resources
# 3/Images

# 3/Activities/02-Stu_Cryptocurrency-Merging/Solved
# 3/Activities/02-Stu_Cryptocurrency-Merging/Solved/Resources
# 3/Activities/04-Stu_TedTalks-Binning/Solved
# 3/Activities/04-Stu_TedTalks-Binning/Solved/Resources
# 3/Activities/06-Stu_CleaningKickstarter/Solved
# 3/Activities/06-Stu_CleaningKickstarter/Solved/Resources
# 3/Activities/08-Stu_BugfixingBonanza/Solved
# 3/Activities/08-Stu_BugfixingBonanza/Solved/Resources

# Extra_Content
# VideoGuide.md